[submodule "libft"]
	path = libft
	url = git@github.com:TheLeBerton/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:TheLeBerton/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:TheLeBerton/ft_printf.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:TheLeBerton/push_swap.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:TheLeBerton/pipex.git
[submodule "MiniTalk"]
	path = MiniTalk
	url = git@github.com:TheLeBerton/MiniTalk.git
[submodule "philosopher"]
	path = philosopher
	url = git@github.com:TheLeBerton/philosopher.git
[submodule "fractol"]
	path = fractol
	url = git@github.com:TheLeBerton/fractol.git
[submodule "so_looooong"]
	path = so_looooong
	url = git@github.com:TheLeBerton/so_looooong.git
[submodule "piscine_feb_25"]
	path = piscine_feb_25
	url = git@github.com:TheLeBerton/piscine_feb_25.git
